.header {
    height: rem(60px);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
